/*VARIABLES----------------------------------------------------------------------------------------------------*/

:root {
    --main-text-color: #202020;
    --secondary-text-color: #4E4E4E;
    --portfolio-text-color: #1A1A1A;
    --portfolio-link-color: #717171;
    --project-button--main: #F0F0F0;
    --project-button--hover: #DCDCDC;
    --project-button--active: #C0C0C0;
    --project-button--text: #2A2A2A;
    --category-button--main: #F0F0F0;
    --category-button--hover: #D6EBFF;
    --category-button--active: #A2D3FF;
    --costings-text-color: #191919;

}

/*FONTS----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'YandexSans';
    src:  url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansText-Regular.woff') format('woff'),
    url('../fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'c';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

/*MINI-SLIDER----------------------------------------------------------------------------------------------------*/

.mini-slider {
    /*width: 1500px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 44px;
}



.mini-slider-container {
    /*width: 740px;*/
    /*height: 550px;*/
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background-size: 740px 550px !important;*/
    /*margin-right: 16px;*/
    /*margin-bottom: 130px;*/
}

.mini-slider-container:nth-of-type(2n) {
    margin-right: 0;
}


.mini-slider__main-container {
    /*width: 740px;*/
    /*height: 550px;*/
    overflow: hidden;
    -webkit-animation: show-mini-slider .6s;
    animation: show-mini-slider .6s;
    -webkit-transition: .6s all;
    transition: .6s all;
}

@-webkit-keyframes show-mini-slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-mini-slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mini-slider__main-container .swiper-slide {
    /*width: 740px !important;*/
    /*height: 550px;*/
}

.mini-slider__main-container .slide-image {
    /*width: 740px !important;*/
    /*height: 550px;*/
 }

.mini-slider__swiper-button-next, .mini-slider__swiper-button-prev {
    position: absolute;
    height: 100%;
    top:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 4000;
}

.mini-slider__swiper-button-next:focus, .mini-slider__swiper-button-prev:focus {
    outline: none;
    border: none;
}

.mini-slider__swiper-button-next:hover .mini-slider__arrow-wrapper , .mini-slider__swiper-button-prev:hover .mini-slider__arrow-wrapper {
    background: rgba(255, 255, 255, 0.15);
}

.mini-slider__swiper-button-next {
    right: 0;
}

.mini-slider__swiper-button-prev {
    left: 0;
}

.mini-slider__arrow-wrapper {
    /*width: 2.5vw;*/
    /*height: 2.5vw;*/
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.mini-slider__arrow-wrapper img {
    /*width: vw;*/
    /*height: vw;*/
    opacity: 0.5
}

.mini-slider__swiper-button-next img {
    /*margin-right: -.1vw;*/
}

.mini-slider__swiper-button-prev img {
    /*margin-left: -.1vw;*/
}

.mini-slider__pre-show-container {
    /*width: 740px !important;*/
    /*height: 550px;*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.mini-slider__pre-show-container img {
    /*width: 740px !important;*/
    /*height: 550px;*/
}

.mini-slider__fade-out {
    opacity: 0;
}






/*PORTFOLIO----------------------------------------------------------------------------------------------------*/

.portfolio {
    width: 100vw;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2vw;
}

.portfolio__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio__description h1, .portfolio__description h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 100%;
    color: var(--portfolio-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p {
    font-family: "Arial Regular",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8333vw;
    color: var(--secondary-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p:first-of-type {
    font-weight: bold;
    font-size: .9375vw;
    color: var(--main-text-color);
}

.portfolio__right-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-family: "Arial Regular", sans-serif;
}

.portfolio__right-bar a {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    position: relative;
    margin-top: .52vw;
    margin-bottom: 2.08vw;
}

.portfolio__right-bar a::before {
    content: url("../img/slider-link-arrow.svg");
    display: block;
    width: .8375vw;
    height: .68125vw;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: -20%;
    top: 25%;
}

.portfolio__right-bar p {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    margin-bottom: 1.823vw;
}

.portfolio__right-bar span {
    font-size: 1vw;
    font-weight: bold;
    text-align: right;
    color: var(--portfolio-text-color);
}

.portfolio__right-bar__want-the-same-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 11.458vw;
    height: 3.333vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE6500), color-stop(0%, #FE8300), to(#FC2E01));
    background: linear-gradient(180deg, #FE6500 0%, #FE8300 0%, #FC2E01 100%);
    border-radius: 1.666vw;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.145vw;
    margin-right: 1vw;
    cursor: pointer;
}

.portfolio__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.portfolio__tab {
    width: 11.458vw;
    height: 3.333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    color: var(--main-text-color);
    background: var(--category-button--main);
    margin-right: 1.51vw;
    font-family: "Arial Regular", sans-serif;
    font-size: 1.042vw;
    cursor: pointer;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.portfolio__tab:hover {
    background: var(--category-button--hover);
}

.portfolio__tab--active {
    background: var(--category-button--active) !important;
}

.portfolio__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2.8125vw;

}

.portfolio__slider-container {
    position: relative;
}

.portfolio__image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
    margin-top: 2.8125vw;
    margin-bottom: 2.8125vw;
}

.portfolio__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.portfolio__image-wrapper:nth-child(even) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.portfolio__image-container img {
    width: 100%;
}

.portfolio__costings {
    width: 100%;
}

.portfolio__costings h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5625vw;
    margin-bottom: 1.823vw;
}

.portfolio__costings-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5625vw;
}

.portfolio__costings-tab {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .833vw 1.928vw;
    font-family: "Arial Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    background: var(--category-button--main);
    border:1px solid #EAEAEA;
    -webkit-transition: .2s all;
    transition: .2s all;
    cursor: pointer;

}

.portfolio__costings-tab:hover {
    background: var(--category-button--hover);
    border-color: transparent;
}

.portfolio__costings-tab--active {
    background: var(--category-button--active) !important;
    border-color: transparent;

}

.portfolio__costings-content {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    color: var(--costings-text-color);
}
.portfolio__costings-content table {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 3.5vw;
}

.portfolio__costings-content tr {
    height: 1.5vw;
}

.portfolio__costings-content td {
    width: 3.90625vw;
    text-align: right;
}

.portfolio__costings-content td.title {
    width: 16.927vw;
    text-align: left;
}

.portfolio__costings-content td.price {
    padding-right: 2vw;
}
.portfolio__costings-final-price {
    font-weight: bold;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    border-top: 1px solid #999999;
    position: absolute;
    bottom: 0;
    right: 2vw;
}

.portfolio__costings-final-price span {
    margin-left: 1vw;
    line-height: 3vw;
}











/*TOUCH-SLIDER----------------------------------------------------------------------------------------------------*/

.main-container {
    padding-top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.slider__category-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: "Arial Regular", sans-serif;
}

.slider__category-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--category-button--main);
    cursor: pointer;
}

.slider__category-span:last-of-type {
    margin: 0;
}

.slider__category-span:hover {
    background: var(--category-button--hover);
}

.slider__category-span.active {
    background: var(--category-button--active);
    color: #0d0d0d
}

.slider__category-span.active:hover {
    background: var(--category-button--active) !important;
}


.fade-out {
    opacity: 0 !important
}

.fade-in {
    opacity: 1 !important
}

.main-container {
    position: relative
}

span.swiper-pagination-bullet {
    border-radius: 10%;
    height: 2px !important;
    background: white;
    -webkit-transition: 0.5s, width 0.3s;
    transition: 0.5s, width 0.3s;
    margin: 0 1px !important
}

.swiper-pagination-bullet-active {
    opacity: 0.80;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 1px;
}




.slider__content-container {
    width: 100vw;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__category-main-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 18px;
    grid-row-gap: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
    width: 3.125vw;
    height: 3.125vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -1.5625vw;
    z-index: 4000;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .2s all;
    transition: .2s all;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: unset;
    border: unset;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
   background: #616161;
}

.swiper-button-next img, .swiper-button-prev img {
    width: .7292vw;
    height: 1.25vw;
}

.swiper-button-next {
    right: -5.833vw;
}

.swiper-button-prev {
    left: -5.833vw
}

.swiper-button-next img {
    margin-right: -.1vw;
}

.swiper-button-prev img {
    margin-left: -.1vw;

}

.swiper-button-next::after {
    display: none !important;
}

.swiper-button-prev::after {
    display: none !important;
}

.swiper-pagination-fraction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2vw 2vw 0;
    font-family: YandexSans, sans-serif;
    letter-spacing: .07em;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    line-height: .9896px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}


#remont_deshevle .swiper-slide {
    flex-direction: column;
}

/*MINI_SLIDER CATEGORIES AND BUTTONS ------------------------------------------------------*/

.slider__category-container-secondary {
    /*margin-top: 44px;*/
    /*width: 175px;*/
    height: 100%;
    position: relative;
}


.slider__category-container-secondary__wrapper {
    /*width: 175px;*/
    /*margin-bottom: 29px;*/
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    transition: top .3s ease;
}



/*.repair #js-category-container-secondary-1 {*/
/*    top: 0;*/
/*}*/

/*.repair #js-category-container-secondary-2 {*/
/*    top: 198px;*/
/*}*/

/*.repair #js-category-container-secondary-3 {*/
/*    top: 433px;*/
/*    z-index: 1000;*/
/*}*/

/*.repair #js-category-container-secondary-4 {*/
/*    top: 706px;*/
/*}*/



/*.design #js-category-container-secondary-1 {*/
/*    top: 273px;*/
/*}*/

/*.design #js-category-container-secondary-2 {*/
/*    top: 470px;*/
/*}*/

/*.design #js-category-container-secondary-3 {*/
/*    top: 0;*/
/*    z-index: 1000;*/
/*}*/

/*.design #js-category-container-secondary-4 {*/
/*    top: 706px;*/
/*}*/


.category-container-secondary__label {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    /*font-size: 19px;*/
    /*line-height: 22px;*/
    color: #151515;
    /*margin-bottom: 22px;*/
}

.category-container-secondary__span {
    /*padding-left: 24px;*/
    /*margin-bottom: 20px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    color: #858585;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.category-container-secondary__span:hover {
    color: #151515;
}

.category-container-secondary__span.active{
    color: #151515;
}


.category-container-secondary__span::before {
    content: '';
    display: block;
    position: absolute;
    /*left: 9px;*/
    /*width: 6px;*/
    /*height: 6px;*/
    border-radius: 50%;
    /*top: 50%;*/
    /*margin-top: -3px;*/
    background: #E1E1E1;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.category-container-secondary__span.active::before {
    background: #62c300;
}


.slider__category-container-global {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    user-select: none;
}

.category-container-global__span {
    font-family: "Roboto Regular" , sans-serif;
    font-style: normal;
    font-weight: normal;
    /*font-size: 30px;*/
    /*line-height: 35px;*/
    text-align: right;
    color: #A6A6A6;
    -webkit-transition: all .2s;
    transition: all .2s;
    /*padding-left: 22px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    /*margin-right: 48px;*/
    cursor: pointer;
}

.category-container-global__span:last-of-type {
    margin-right: 0!important;
}

.category-container-global__span::before {
    content: '';
    display: block;
    position: absolute;
    /*width: 8px;*/
    /*height: 8px;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*margin-top: -4px;*/
    background: transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
}

.category-container-global__span.active {
    color: #252525;
}


.category-container-global__span.active::before {
    background: #62c300;
}

.category-container-global__span:hover {
    color: #252525;
}

.mini-slider__main-wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.mini-slider__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;

    box-sizing: border-box;
    /*padding-left: 5px;*/
    /*padding-right: 16px;*/
    position: absolute;
    /*top: 102%;*/
    /*left: 0;*/

    transform: translate3d(0, 0, 0);
    z-index: 4000;
}

.mini-slider__description-title {
    font-family: "Roboto Regular", sans-serif;
    /*font-size: 25px;*/
    color: #151515;
    /*margin-bottom: 10px;*/
}
.mini-slider__description-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mini-slider__description-item {
    /*width: 195px;*/
    /*padding-left: 11px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    font-family: "Roboto Regular", sans-serif;
    color: #252525;
}

.mini-slider__description-item::before {
    content: '';
    display: block;
    position: absolute;
    /*width: 2px;*/
    /*height: 56px;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*margin-top: -28px;*/
    background: #47C80A;
}

.mini-slider__description-item__title {
    font-weight: 500;
    /*font-size: 16px;*/
    /*margin-bottom: 5px;*/
}

.mini-slider__description-item__content {
    /*font-size: 33px;*/
}

.mini-slider__description-item__content span {
    /*font-size: 16px;*/
    /*margin-left: 5px;*/
}

.mini-slider__description-link {
    font-family: "Arial", sans-serif;
    /*font-size: 16px;*/
    text-align: right;
    color: #505050;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    box-sizing: border-box;
    /*padding-right: 20px;*/
    position: absolute;
    /*right: 0;*/
    /*top: 0;*/
}

.mini-slider__description-link:hover {
    color: #252525;
}

.mini-slider__description-link::after {
    content:url("../img/mini-slider-description-arrow.svg");
    display: block;
    /*width: 15px;*/
    /*height: 14px;*/
    position: absolute;
    /*right: 0;*/
    /*top: 50%;*/
    /*margin-top: -8px;*/
    -webkit-transition: all .2s;
    transition: all .2s;
}

.mini-slider__description-link:hover::after {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}


/*MEDIA -----------------------------------------------------------------------------------*/

@media screen and (min-width: 1920px) {

    .slider__category-span {
        width: 190px;
        height: 55px;
        margin-right: 29px;
        font-size: 18px;
    }

    .mini-slider {
        width: 1500px;
        margin-left: 40px;
    }

    .mini-slider-container {
        width: 740px;
        height: 550px;
        background-size: 740px 550px !important;
        margin-right: 16px;
        margin-bottom: 130px;
    }

    .mini-slider__main-container {
        width: 740px;
        height: 550px;
    }

    .mini-slider__main-container .swiper-slide {
        width: 740px !important;
        height: 550px;
    }

    .mini-slider__main-container .slide-image {
        width: 740px !important;
        height: 550px;
    }


    .mini-slider__arrow-wrapper {
        width: 50px;
        height: 50px;
        margin: 0 16px;
    }

    .mini-slider__arrow-wrapper img {
        width: 12px;
        height: 12px;
    }


    .mini-slider__swiper-button-next img {
        margin-right: -5px;
    }

    .mini-slider__swiper-button-prev img {
        margin-left: -5px;
    }

    .mini-slider__pre-show-container {
        width: 740px !important;
        height: 550px;
    }

    .mini-slider__pre-show-container img {
        width: 740px !important;
        height: 550px;
    }

    .slider__category-container-secondary {
        margin-top: 44px;
        width: 175px;
    }


    .slider__category-container-secondary__wrapper {
        width: 175px;
        margin-bottom: 29px;
    }



    .repair #js-category-container-secondary-1 {
        top: 0;
    }

    .repair #js-category-container-secondary-2 {
        top: 198px;
    }

    .repair #js-category-container-secondary-3 {
        top: 433px;
        z-index: 1000;
    }

    .repair #js-category-container-secondary-4 {
        top: 706px;
    }



    .design #js-category-container-secondary-1 {
        top: 273px;
    }

    .design #js-category-container-secondary-2 {
        top: 470px;
    }

    .design #js-category-container-secondary-3 {
        top: 0;
        z-index: 1000;
    }

    .design #js-category-container-secondary-4 {
        top: 706px;
    }


    .category-container-secondary__label {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 22px;
    }

    .category-container-secondary__span {
        padding-left: 24px;
        margin-bottom: 20px;
    }

    .category-container-secondary__span::before {
        left: 9px;
        width: 6px;
        height: 6px;
        top: 50%;
        margin-top: -3px;
    }

    .category-container-global__span {
        font-size: 30px;
        line-height: 35px;
        padding-left: 22px;
        margin-right: 48px;
    }

    .category-container-global__span::before {
        width: 8px;
        height: 8px;
        left: 0;
        top: 50%;
    }


    .mini-slider__description {
        padding-left: 3px;
        padding-right: 16px;
        top: 102%;
        left: 0;
    }

    .mini-slider__description-title {
        font-size: 25px;
        margin-bottom: 14px;
    }

    .mini-slider__description-item {
        width: 195px;
        padding-left: 11px;
    }

    .mini-slider__description-item::before {
        width: 2px;
        height: 56px;
        left: 0;
        top: 50%;
        margin-top: -28px;
    }

    .mini-slider__description-item__title {
        font-size: 16px;
        margin-bottom: 11px;
    }

    .mini-slider__description-item__content {
        font-size: 33px;
    }

    .mini-slider__description-item__content span {
        font-size: 16px;
        margin-left: 5px;
    }

    .mini-slider__description-link {
        font-size: 16px;
        padding-right: 20px;
        right: 0;
        top: 0;
    }

    .mini-slider__description-link::after {
        width: 15px;
        height: 14px;
        right: 0;
        top: 50%;
        margin-top: -8px;
    }

}


@media screen and (min-width: 1500px) and (max-width: 1919px) {
    .slider__category-container {
    }

    .slider__category-span {
        width: 184px;
        height: 55px;
        margin-right: 22px;
        font-size: 18px;
    }

    .slider__category-span[data-category="bathrooms"] {
        display: none;
    }

    .mini-slider {
        width: 1300px;
        margin-left: 40px;
    }

    .mini-slider-container {
        width: 630px;
        height: 468px;
        background-size: 630px 468px !important;
        margin-right: 12px;
        margin-bottom: 130px;
    }

    .mini-slider__main-container {
        width: 630px;
        height: 468px;
    }

    .mini-slider__main-container .swiper-slide {
        width: 630px !important;
        height: 468px;
    }

    .mini-slider__main-container .slide-image {
        width: 630px !important;
        height: 468px;
    }


    .mini-slider__arrow-wrapper {
        width: 50px;
        height: 50px;
        margin: 0 8px;
    }

    .mini-slider__arrow-wrapper img {
        width: 12px;
        height: 12px;
    }


    .mini-slider__swiper-button-next img {
        margin-right: -5px;
    }

    .mini-slider__swiper-button-prev img {
        margin-left: -5px;
    }

    .mini-slider__pre-show-container {
        width: 630px !important;
        height: 468px;
    }

    .mini-slider__pre-show-container img {
        width: 630px !important;
        height: 468px;
    }


    .slider__category-container-secondary {
        margin-top: 44px;
        width: 175px;
    }


    .slider__category-container-secondary__wrapper {
        width: 175px;
        margin-bottom: 29px;
    }



    .repair #js-category-container-secondary-1 {
        top: 0;
    }

    .repair #js-category-container-secondary-2 {
        top: 198px;
    }

    .repair #js-category-container-secondary-3 {
        top: 433px;
        z-index: 1000;
    }

    .repair #js-category-container-secondary-4 {
        top: 706px;
    }



    .design #js-category-container-secondary-1 {
        top: 273px;
    }

    .design #js-category-container-secondary-2 {
        top: 470px;
    }

    .design #js-category-container-secondary-3 {
        top: 0;
        z-index: 1000;
    }

    .design #js-category-container-secondary-4 {
        top: 706px;
    }


    .category-container-secondary__label {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 22px;
    }

    .category-container-secondary__span {
        padding-left: 24px;
        margin-bottom: 20px;
    }

    .category-container-secondary__span::before {
        left: 9px;
        width: 6px;
        height: 6px;
        top: 50%;
        margin-top: -3px;
    }

    .category-container-global__span {
        font-size: 30px;
        line-height: 35px;
        padding-left: 22px;
        margin-right: 48px;
    }

    .category-container-global__span::before {
        width: 8px;
        height: 8px;
        left: 0;
        top: 50%;
    }


    .mini-slider__description {
        padding-left: 3px;
        padding-right: 12px;
        top: 102%;
        left: 0;
    }

    .mini-slider__description-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .mini-slider__description-item {
        width: 195px;
        padding-left: 11px;
    }

    .mini-slider__description-item::before {
        width: 2px;
        height: 56px;
        left: 0;
        top: 50%;
        margin-top: -28px;
    }

    .mini-slider__description-item__title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .mini-slider__description-item__content {
        font-size: 33px;
    }

    .mini-slider__description-item__content span {
        font-size: 16px;
        margin-left: 5px;
    }

    .mini-slider__description-link {
        font-size: 16px;
        padding-right: 20px;
        right: 0;
        top: 0;
    }

    .mini-slider__description-link::after {
        width: 15px;
        height: 14px;
        right: 0;
        top: 50%;
        margin-top: -8px;
    }

}