:root {
    --repair-cost__main-text-color: #212121;
    --repair-cost__secondary-text-color: #616161;
}

.repair-cost--width-50 {
    width: 50% !important;
}

.repair-cost--width-33 {
    width: 33.33% !important;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.repair-cost {
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    color: var(--repair-cost__main-text-color);
    box-sizing: border-box;
    margin: 0 24px;
}

.repair-cost__wrapper-flex {
    display: flex;
    padding-top: 12px;
    padding-bottom: 18px;
    box-sizing: border-box;
}

.repair-cost__title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
}

.repair-cost__element-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.repair-cost__element-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}

.repair-cost__field-radio {
    margin-bottom: 15px;
}

.repair-cost__field-radio input {
    display: none;
}

.repair-cost__field-radio label {
    cursor: pointer;
    color: var(--repair-cost__secondary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    box-sizing: border-box;
    padding-left: 32px;
    position: relative;
}

.repair-cost__field-radio label::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #6598ff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    box-sizing: border-box;
}

.repair-cost__field-radio label::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 6px solid #6598ff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    box-sizing: border-box;
    transition: all .3s ease;
    opacity: 0;
}

.repair-cost__field-radio input:checked + label::after {
    opacity: 1;
}

.repair-cost__field-select {
    width: 100%;
    max-width: 820px;
}

.repair-cost__field-select select {
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 40px 8px 12px;
    border: 2px solid #6598ff;
    background: url("../img/repair-cost-select-arrow.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right center;
    background-position-x: calc(100% - 17px);
    background-color: #fff;

    white-space: nowrap;
    width: 100%;

    display: block;
    line-height: 22px;
    cursor: pointer;
    appearance: none;
}

.repair-cost__field-select select:focus {
    outline: none;
}


.repair-cost__field-input {
    width: 100%;
    max-width: 820px;
}

.repair-cost__field-input input {
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 2px solid #6598ff;
    white-space: nowrap;
    width: 100%;
    display: block;
    line-height: 22px;
    cursor: pointer;
    appearance: none;
}

.repair-cost__field-input input:focus {
    outline: none;
}

.repair-cost__field-input input::placeholder {
    transition: all .3s ease;
}

.repair-cost__field-input input:focus::placeholder {
   opacity: 0;
}