/*VARIABLES----------------------------------------------------------------------------------------------------*/

:root {
    --main-text-color: #202020;
    --secondary-text-color: #4E4E4E;
    --portfolio-text-color: #1A1A1A;
    --portfolio-link-color: #717171;
    --project-button--main: #F0F0F0;
    --project-button--hover: #DCDCDC;
    --project-button--active: #C0C0C0;
    --project-button--text: #2A2A2A;
    --category-button--main: #F0F0F0;
    --category-button--hover: #D6EBFF;
    --category-button--active: #A2D3FF;
    --costings-text-color: #191919;

}

/*FONTS----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'YandexSans';
    src:  url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansText-Regular.woff') format('woff'),
    url('../fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}
