/*MINI-SLIDER----------------------------------------------------------------------------------------------------*/

.mini-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.344vw;
}


.mini-slider-container {
    width: 28.906vw;
    height: 21.875vw;
    overflow: hidden;
    position: relative;
    user-select: none;
    margin-bottom: 1.51vw;
    background-size: 28.906vw 21.875vw !important;
}

.mini-slider-container--margin {
    margin: 0 1.51vw 1.51vw 1.51vw !important;
}

.mini-slider__main-container {
    animation: show-mini-slider .6s;
    transition: .6s all;
}

@keyframes show-mini-slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mini-slider__main-container .swiper-slide {
    width: 28.906vw !important;
    height: 21.875vw;
}

.mini-slider__main-container .slide-image {
     width: 28.906vw !important;
     height: 21.875vw;
 }

.mini-slider__swiper-button-next, .mini-slider__swiper-button-prev {
    position: absolute;
    width: 4.6875vw;
    height: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0,0,0);
    z-index: 4000;
}

.mini-slider__swiper-button-next:focus, .mini-slider__swiper-button-prev:focus {
    outline: none;
    border: none;
}

.mini-slider__swiper-button-next:hover .mini-slider__arrow-wrapper , .mini-slider__swiper-button-prev:hover .mini-slider__arrow-wrapper {
    background: rgba(255, 255, 255, 0.15);
}

.mini-slider__swiper-button-next {
    right: 0;
}

.mini-slider__swiper-button-prev {
    left: 0;
}

.mini-slider__arrow-wrapper {
    width: 2.7083vw;
    height: 2.7083vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.mini-slider__arrow-wrapper img {
    width: .677vw;
    height: 1.042vw;
}

.mini-slider__swiper-button-next img {
    margin-right: -.1vw;
}

.mini-slider__swiper-button-prev img {
    margin-left: -.1vw;
}

.mini-slider__description {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(0,0,0);
    z-index: 4000;
    width: 100%;
    height: 2.8125vw;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 .989vw;
    font-family: "Arial Regular",sans-serif;
    font-size: .8854vw;
    transition: .5s all;
}

.mini-slider__description:hover {
    color: #005864;
}



.mini-slider__description span:last-child {
    font-weight: bold;
}

.mini-slider__pre-show-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.mini-slider__pre-show-container img {
    width: 28.906vw;
    height: 21.875vw;
}

.mini-slider__fade-out {
    opacity: 0;
}