/*PORTFOLIO----------------------------------------------------------------------------------------------------*/

.portfolio {
    width: 100vw;
    margin: 5vw 0;
    box-sizing: border-box;
    padding: 2vw;
}

.portfolio__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.portfolio__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    /*padding: .52vw;*/
}

.portfolio__description h1, .portfolio__description h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 100%;
    color: var(--portfolio-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p {
    font-family: "Arial Regular",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8333vw;
    color: var(--secondary-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p:first-of-type {
    font-weight: bold;
    font-size: .9375vw;
    color: var(--main-text-color);
}

.portfolio__right-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: "Arial Regular", sans-serif;
}

.portfolio__right-bar a {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    position: relative;
    margin-top: .52vw;
    margin-bottom: 2.08vw;
}

.portfolio__right-bar a::before {
    content: url("../img/slider-link-arrow.svg");
    display: block;
    width: .8375vw;
    height: .68125vw;
    transform: rotate(180deg);
    position: absolute;
    left: -20%;
    top: 25%;
}

.portfolio__right-bar p {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    margin-bottom: 1.823vw;
}

.portfolio__right-bar span {
    font-size: 1vw;
    font-weight: bold;
    text-align: right;
    color: var(--portfolio-text-color);
}

.portfolio__right-bar__want-the-same-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.458vw;
    height: 3.333vw;
    background: linear-gradient(180deg, #FE6500 0%, #FE8300 0%, #FC2E01 100%);
    border-radius: 1.666vw;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.145vw;
    margin-right: 1vw;
    cursor: pointer;
}

.portfolio__tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portfolio__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.458vw;
    height: 3.333vw;;
    color: var(--main-text-color);
    background: var(--category-button--main);
    margin-right: 1.51vw;
    font-family: "Arial Regular", sans-serif;
    font-size: 1.042vw;
    cursor: pointer;
    transition: .2s all;
}

.portfolio__tab:hover {
    background: var(--category-button--hover);
}

.portfolio__tab--active {
    background: var(--category-button--active) !important;
}

.portfolio__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.8125vw;

}

.portfolio__slider-container {
    position: relative;
}

.portfolio__image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
    margin-top: 2.8125vw;
}

.portfolio__image-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.portfolio__image-wrapper:nth-child(even) {
    justify-content: flex-start;

}

.portfolio__image-container img {
    width: 100%;
}

.portfolio__costings {
    width: 100%;
}

.portfolio__costings h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5625vw;
    margin-bottom: 1.823vw;
}

.portfolio__costings-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5625vw;
}

.portfolio__costings-tab {
    box-sizing: border-box;
    padding: .833vw 1.928vw;
    font-family: "Arial Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    background: var(--category-button--main);
    border:1px solid #EAEAEA;
    transition: .2s all;

}

.portfolio__costings-tab:hover {
    background: var(--category-button--hover);
    border-color: transparent;
}

.portfolio__costings-tab--active {
    background: var(--category-button--active) !important;
    border-color: transparent;

}

.portfolio__costings-content {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    color: var(--costings-text-color);
}
.portfolio__costings-content table {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 3.5vw;
}

.portfolio__costings-content tr {
    height: 1.5vw;
}

.portfolio__costings-content td {
    width: 3.90625vw;
    text-align: right;
}

.portfolio__costings-content td.title {
    width: 16.927vw;
    text-align: left;
}

.portfolio__costings-content td.price {
    padding-right: 2vw;
}
.portfolio__costings-final-price {
    font-weight: bold;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    border-top: 1px solid #999999;
    position: absolute;
    bottom: 0;
    right: 2vw;
}

.portfolio__costings-final-price span {
    margin-left: 1vw;
    line-height: 3vw;
}





