







/*    !*Информация о слайде*!*/
/*    .slider__project-description {*/
/*        !*Размер шрифта*!*/
/*        font-size: 13px;*/
/*        !*Внешние отступы*!*/
/*        margin: 12px 0;*/
/*        !*Внутренние отступы:*!*/
/*        padding: 0 12px*/
/*    }*/

/*    !*Контейнер с кнопками*!*/
/*    .slider__category__button-container {*/
/*        !*Размер шрифта в кнопке*!*/
/*        font-size: 12px;*/
/*        !*Внешний отступ вниз*!*/
/*        margin-bottom: 0px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 0 10px;*/
/*        !*Отступы между кнопками*!*/
/*        grid-gap: 6px;*/
/*    }*/

/*    !*Кнопка*!*/
/*    .slider__category__button {*/
/*        !*Высота кнопки (ширина адаптируется под ширину экрана)*!*/
/*        height: 32px;*/
/*    }*/

/*    !*Контейнер с главными категориями*!*/
/*    .slider__category-main-wrapper {*/
/*        !*Вертикальные отступы*!*/
/*        grid-row-gap: 3px;*/
/*        !*Размер шрифта*!*/
/*        font-size: 17px;*/
/*        !*Внешний отступ вниз*!*/
/*        margin-bottom: 3px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 5px 20px*/
/*    }*/

/*    !*Контейнер с категориями*!*/
/*    .slider__category-container {*/
/*        !*Размер шрифта*!*/
/*        font-size: 13.5px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 0 0px*/
/*    }*/


/*    .slider__category-container span {*/
/*        margin: 1.5vw 2vw;*/
/*        text-align: center;*/
/*        cursor: pointer*/
/*    }*/




/*@media screen and (min-width: 360px) and (max-width: 413px) {*/
/*    .slider__project-description {*/
/*        font-size: 14px;*/
/*        margin: 17px 0;*/
/*        padding: 0 13px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 14px;*/
/*        margin-bottom: 5px;*/
/*        padding: 0 13px;*/
/*        grid-gap: 10px;*/

/*    }*/

/*    .slider__category__button {*/
/*        height: 35px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 0px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 13px;*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 15.5px;*/
/*        padding: 0 13px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 414px) and (max-width: 479px) {*/
/*    .slider__project-description {*/
/*        font-size: 15.5px;*/
/*        margin: 18px 0;*/
/*        padding: 0 18px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 15px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 18px;*/
/*        grid-gap: 12px;*/
/*    }*/

/*    .slider__category__button {*/
/*        height: 36px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 27px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 18px;*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 14px;*/
/*        padding: 0 18px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 480px) {*/
/*    .slider__project-description {*/
/*        font-size: 17px;*/
/*        margin: 20.5px 0;*/
/*        padding: 0 21px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 16px;*/
/*        margin-bottom: 34px;*/
/*        padding: 0 21px;*/
/*        grid-gap: 13px;*/

/*    }*/

/*    .slider__category__button {*/
/*        height: 41px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 30px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 21px*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 18px;*/
/*        padding: 0 21px*/
/*    }*/
/*}*/