
/*TOUCH-SLIDER----------------------------------------------------------------------------------------------------*/

.main-container {
    padding-top: 10vw;
    user-select: none;

}

.touch-slider-main-wrapper {
    width: 57.29vw;
    position: relative;
    left: 50%;
    margin-left: -28.645vw;
}

.swiper-container {
    width: 57.29vw;
    height: 36.458vw;
    background: #fff;
}


.main {
    width: 57.29vw;
    height: 36.458vw;
    position: relative;
}


.pre-holder {
    position: absolute;
    width: 57.29vw;
    height: 36.458vw;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/

}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    background: #fff;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px
}

.button {
    width: 200px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 20px
}

.hide {
    opacity: 0
}

.show {
    opacity: 1
}

.transition {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

* {
    margin: 0;
    padding: 0
}

.slider__main-container {
    width: 57.29vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 50px auto;
    overflow-y: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.slider__img-container {
    position: relative;
    overflow: hidden
}

.slider__img-container img {
    width: 57.29vw !important;
    z-index: 1;
    pointer-events: none
}

.slider__project-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start !important;
    flex-direction: column;
    width: 57.29vw;
    margin-top: 1.354vw;
    font-size: .8333vw;
    color: var(--main-text-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Arial Regular", sans-serif;
    letter-spacing: .03em;
}

.slider__project-description-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .99vw;
}

.slider__project-description-wrapper:last-child {
    margin-bottom: 0;
}

.slider__project-description-category {
    font-size: .8854vw;
}

.slider__project-description-object {
    color: var(--secondary-text-color);
}

.slider__project-description-price, .slider__project-description-materials {
    font-size: 1vw;
    font-weight: bold;
}

.slider__project-description-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--secondary-text-color);
}

.slider__project-description-link img {
    width: .9375vw;
    height: .78125vw;
    margin-left: .3vw;
}

.slider__project-description-margin {
    margin: 0 .7vw;
}

.slider__category__button-container {
    /*width: 57.29vw;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: .6771vw;
    margin-top: 2.135vw;
    margin-bottom: 2.135vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Regular",sans-serif;
}

.slider__category__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.90625vw;
    height: 2.0833vw;
    background: var(--project-button--main);
    text-align: center;
    cursor: pointer;
    border-radius: .15625vw;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8333vw;
    transition: .5s all;
}

.slider__category__button--active {
    background: var(--project-button--active);
}

.slider__category__button--active:hover {
    background: var(--project-button--active)  !important;
}

.slider__category__button:hover {
    background: var(--project-button--hover);
}

.slider__category__button--transition {
    -webkit-transition: all .5s;
    transition: all .5s
}

.slider__category-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.51vw;
    font-size: .9375vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: "Arial Regular", sans-serif;
}

.slider__category-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.896vw;
    height: 2.8646vw;
    background: var(--category-button--main);
    cursor: pointer;
}

.slider__category-span:hover {
    background: var(--category-button--hover);
}

.slider__category-container--active {
    background: var(--category-button--active);
    color: #0d0d0d
}

.slider__category-container--active:hover {
    background: var(--category-button--active) !important;
}

.slider__category-container--transition {
    -webkit-transition: all .5s;
    transition: all .5s
}

.fade-out {
    opacity: 0 !important
}

.fade-in {
    opacity: 1 !important
}

.main-container {
    position: relative
}

.slide-image {
    width:  57.29vw;
    height: 36.458vw;
}

.pre-slide-image {
    width:  57.29vw;
    height: 36.458vw;
}

span.swiper-pagination-bullet {
    border-radius: 10%;
    height: 2px !important;
    background: white;
    transition: 0.5s, width 0.3s;
    margin: 0 1px !important
}

.swiper-pagination-bullet-active {
    opacity: 0.80;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 1px;
}




.slider__content-container {
    width: 100vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider__category-main-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 18px;
    grid-row-gap: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
    width: 3.125vw;
    height: 3.125vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -1.5625vw;
    z-index: 4000;
    transform: translateY(0);
    transition: .2s all;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: unset;
    border: unset;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
   background: #616161;
}

.swiper-button-next img, .swiper-button-prev img {
    width: .7292vw;
    height: 1.25vw;
}

.swiper-button-next {
    right: -5.833vw;
}

.swiper-button-prev {
    left: -5.833vw
}

.swiper-button-next img {
    margin-right: -.1vw;
}

.swiper-button-prev img {
    margin-left: -.1vw;

}

.swiper-button-next::after {
    display: none !important;
}

.swiper-button-prev::after {
    display: none !important;
}

.swiper-pagination-fraction {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 2vw 2vw 0;
    font-family: YandexSans, sans-serif;
    letter-spacing: .07em;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    line-height: .9896px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}