
.calculator-tabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1230px;
}

.calculator-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 75%;
    text-align: center;
    color: #191919;
    transition: all .2s;
    cursor: pointer;
    box-sizing: border-box;
}



.calculator-tab-primary {
    width: 180px;
    height: 50px;
    background: rgba(255, 255, 255, 0.31);
    border: 1px solid #EAEAEA;
}

.calculator-tab-large {
    width: 220px;
}

.calculator-tab-primary:hover {
    background: #D6EBFF
}

.calculator-tab-primary.active {
    transition: none!important;
    background: #A2D3FF;
}

.calculator-tab-secondary {
    margin-top: 48px;
    margin-right: 35px;
    line-height: 23px;
    position: relative;
}

.calculator-tab-secondary:last-of-type {
    margin-right: unset;
}
.calculator-tab-secondary.active {
    transition: none!important;
}

.calculator-tab-secondary::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all .2s;
}

.calculator-tab-secondary.active::after {
    background: #191919;
}

