.calculator-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 75%;
    text-align: center;
    color: #191919;
    margin-bottom: 5px;
}

.calculator-item__title {
    width: 300px;
    font-size: 16px;
    text-align: left;
}

.calculator-item__price {
    width: 50px;
    line-height: 33px;


}

.calculator-item__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.calculator-item__input-minus, .calculator-item__input-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all .2s;
    margin: 0 5px;
}

.calculator-item__input-minus img, .calculator-item__input-plus img {
    width: 13px;
}

.calculator-item__input-minus {
background-color: #e4e4e4;
}

.calculator-item__input-minus:hover {
    background-color: #c8c8c8;
}

.calculator-item__input-plus {
    background-color: #fff;
}

.calculator-item__input-plus:hover {
    background-color: #e4e4e4;
}

.calculator-item__input {
    width: 50px;
    height: 32px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    -moz-appearance:textfield;
    text-align: center;
    outline: transparent;
    color: #0A0A0A;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 75%;
}

.calculator-item__input {
    outline: transparent;
}



.calculator-item__input::-webkit-outer-spin-button,
.calculator-item__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calculator-item__sum {
    min-width: 90px;
    line-height: 33px;
    margin-left: 24px;
    color: #0A0A0A;
    text-align: center;

}