.calculator {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
}


.calculator-main-container {
    width: 1230px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.calculator-content {
  transition: .1s;
}

.calculator-content-wrapper {
    width: 1230px;
    display: none;

}

.calculator-content-wrapper--active {
    display: unset;
}


.calculator-footer {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 56px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.calculator-footer::before {
    content: '';
    width: 1230px;
    height: 1.2px;
    background: #A3A3A3;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.calculator-footer__item {
    width: 242px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 21px;
    position: relative;
}

.calculator-footer__item::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #47C80A;
}

.calculator-footer__item-title {
    font-weight: bolder;
    font-size: 18px;
    line-height: 75%;
    margin-bottom: 15px;
}

.calculator-footer__item-value {
    font-size: 45px;
    line-height: 75%;
    user-select: auto;
}

.calculator-footer__item-secondary {
    font-size: 17px;
    line-height: 75%;
}

.calculator-footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 74px;
    background: #FE8300;
    background: -moz-linear-gradient(180deg, #FE8300 0%, #FC2E01 100%);
    background: -webkit-linear-gradient(180deg, #FE8300 0%, #FC2E01 100%);
    background: linear-gradient(180deg, #FE8300 0%, #FC2E01 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    font-family: Verdana;
    font-size: 19px;
    line-height: 75%;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    animation: buttonShadow 1s infinite;
    position: relative;
    z-index: 1;
}

@keyframes buttonShadow {
    from { box-shadow: 0 0 0 0 rgba(255 ,255 ,255 , 0.6) }
    to { box-shadow: 0 0 0 15px rgba(255 ,255 ,255 , 0) }
}

.calculator-footer__button::after {
    text-decoration: none;
    position: absolute;
    top: -150px;
    left: -40px;
    margin-left: -30px;
    content: '';
    width: 30px;
    height: 300px;
    background: #fff;
    transform: rotate(45deg);


    animation-name: btn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}


@keyframes btn {
    0% {
        left: -40px;
        margin-left: 0px;
    }
    20% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}
