@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*span {*/
/*    font-family: 'Roboto', cursive;*/
/*}*/
.calculator-category {
    box-sizing: border-box;
    padding: 25px 0;
    animation: fade-in .3s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.calculator-category h3 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #303030;
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 34px;
    margin-bottom: 27px;
}

.calculator-category h3:before {
    content: '';
    display: block;
    width: 2px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 0;
    background: #47C80A;
}

.calculator-title {
    position: relative;
}


.calculator-title::before{
    display: flex;
    width: 50px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 75%;
    text-align: center;
    color: #757575;
    position: absolute;
    top: -20px;
    left: 0;
}

.calculator-price-title::before{
    content: 'Цена';
}

.calculator-quantity-title::before{
    content: 'Кол-во';
}


.calculator-sum-title::before{
    content: 'Сумма';
    width: 90px;
}

.calculator__category-sum {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 75%;
    color: #303030;
    margin-top: 16px;
}

.calculator__category-span {
    margin-right: 15px;
    position: relative;
}

.calculator__category-span::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #62C400;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -20px;
}

.calculator__category-sum-span {
    margin-right: 5px;
}



