/*VARIABLES----------------------------------------------------------------------------------------------------*/

:root {
    --main-text-color: #202020;
    --secondary-text-color: #4E4E4E;
    --portfolio-text-color: #1A1A1A;
    --portfolio-link-color: #717171;
    --project-button--main: #F0F0F0;
    --project-button--hover: #DCDCDC;
    --project-button--active: #C0C0C0;
    --project-button--text: #2A2A2A;
    --category-button--main: #F0F0F0;
    --category-button--hover: #D6EBFF;
    --category-button--active: #A2D3FF;
    --costings-text-color: #191919;

}

/*FONTS----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'YandexSans';
    src:  url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansText-Regular.woff') format('woff'),
    url('../fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

/*MINI-SLIDER----------------------------------------------------------------------------------------------------*/

.mini-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2.344vw;
}


.mini-slider-container {
    width: 28.906vw;
    height: 21.875vw;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1.51vw;
    background-size: 28.906vw 21.875vw !important;
}

.mini-slider-container--margin {
    margin: 0 1.51vw 1.51vw 1.51vw !important;
}

.mini-slider__main-container {
    -webkit-animation: show-mini-slider .6s;
    animation: show-mini-slider .6s;
    -webkit-transition: .6s all;
    transition: .6s all;
}

@-webkit-keyframes show-mini-slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-mini-slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mini-slider__main-container .swiper-slide {
    width: 28.906vw !important;
    height: 21.875vw;
}

.mini-slider__main-container .slide-image {
     width: 28.906vw !important;
     height: 21.875vw;
 }

.mini-slider__swiper-button-next, .mini-slider__swiper-button-prev {
    position: absolute;
    width: 4.6875vw;
    height: 100%;
    top:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 4000;
}

.mini-slider__swiper-button-next:focus, .mini-slider__swiper-button-prev:focus {
    outline: none;
    border: none;
}

.mini-slider__swiper-button-next:hover .mini-slider__arrow-wrapper , .mini-slider__swiper-button-prev:hover .mini-slider__arrow-wrapper {
    background: rgba(255, 255, 255, 0.15);
}

.mini-slider__swiper-button-next {
    right: 0;
}

.mini-slider__swiper-button-prev {
    left: 0;
}

.mini-slider__arrow-wrapper {
    width: 2.7083vw;
    height: 2.7083vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.mini-slider__arrow-wrapper img {
    width: .677vw;
    height: 1.042vw;
}

.mini-slider__swiper-button-next img {
    margin-right: -.1vw;
}

.mini-slider__swiper-button-prev img {
    margin-left: -.1vw;
}

.mini-slider__description {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 4000;
    width: 100%;
    height: 2.8125vw;
    background: rgba(255, 255, 255, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .989vw;
    font-family: "Arial Regular",sans-serif;
    font-size: .8854vw;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.mini-slider__description:hover {
    color: #005864;
}



.mini-slider__description span:last-child {
    font-weight: bold;
}

.mini-slider__pre-show-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.mini-slider__pre-show-container img {
    width: 28.906vw;
    height: 21.875vw;
}

.mini-slider__fade-out {
    opacity: 0;
}
/*PORTFOLIO----------------------------------------------------------------------------------------------------*/

.portfolio {
    width: 100vw;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2vw;
}

.portfolio__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: .52vw;*/
}

.portfolio__description h1, .portfolio__description h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 100%;
    color: var(--portfolio-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p {
    font-family: "Arial Regular",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8333vw;
    color: var(--secondary-text-color);
    margin-bottom: 1.3vw;
}

.portfolio__description p:first-of-type {
    font-weight: bold;
    font-size: .9375vw;
    color: var(--main-text-color);
}

.portfolio__right-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-family: "Arial Regular", sans-serif;
}

.portfolio__right-bar a {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    position: relative;
    margin-top: .52vw;
    margin-bottom: 2.08vw;
}

.portfolio__right-bar a::before {
    content: url("../img/slider-link-arrow.svg");
    display: block;
    width: .8375vw;
    height: .68125vw;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: -20%;
    top: 25%;
}

.portfolio__right-bar p {
    font-size: .8333vw;
    text-align: right;
    color: var(--secondary-text-color);
    margin-bottom: 1.823vw;
}

.portfolio__right-bar span {
    font-size: 1vw;
    font-weight: bold;
    text-align: right;
    color: var(--portfolio-text-color);
}

.portfolio__right-bar__want-the-same-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 11.458vw;
    height: 3.333vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE6500), color-stop(0%, #FE8300), to(#FC2E01));
    background: linear-gradient(180deg, #FE6500 0%, #FE8300 0%, #FC2E01 100%);
    border-radius: 1.666vw;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.145vw;
    margin-right: 1vw;
    cursor: pointer;
}

.portfolio__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 11.458vw;
    height: 3.333vw;;
    color: var(--main-text-color);
    background: var(--category-button--main);
    margin-right: 1.51vw;
    font-family: "Arial Regular", sans-serif;
    font-size: 1.042vw;
    cursor: pointer;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.portfolio__tab:hover {
    background: var(--category-button--hover);
}

.portfolio__tab--active {
    background: var(--category-button--active) !important;
}

.portfolio__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2.8125vw;

}

.portfolio__slider-container {
    position: relative;
}

.portfolio__image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
    margin-top: 2.8125vw;
    margin-bottom: 2.8125vw;
}

.portfolio__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.portfolio__image-wrapper:nth-child(even) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.portfolio__image-container img {
    width: 100%;
}

.portfolio__costings {
    width: 100%;
}

.portfolio__costings h2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5625vw;
    margin-bottom: 1.823vw;
}

.portfolio__costings-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5625vw;
}

.portfolio__costings-tab {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .833vw 1.928vw;
    font-family: "Arial Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    background: var(--category-button--main);
    border:1px solid #EAEAEA;
    -webkit-transition: .2s all;
    transition: .2s all;
    cursor: pointer;

}

.portfolio__costings-tab:hover {
    background: var(--category-button--hover);
    border-color: transparent;
}

.portfolio__costings-tab--active {
    background: var(--category-button--active) !important;
    border-color: transparent;

}

.portfolio__costings-content {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    color: var(--costings-text-color);
}
.portfolio__costings-content table {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 3.5vw;
}

.portfolio__costings-content tr {
    height: 1.5vw;
}

.portfolio__costings-content td {
    width: 3.90625vw;
    text-align: right;
}

.portfolio__costings-content td.title {
    width: 16.927vw;
    text-align: left;
}

.portfolio__costings-content td.price {
    padding-right: 2vw;
}
.portfolio__costings-final-price {
    font-weight: bold;
    font-size: .8854vw;
    text-align: center;
    color: var(--costings-text-color);
    border-top: 1px solid #999999;
    position: absolute;
    bottom: 0;
    right: 2vw;
}

.portfolio__costings-final-price span {
    margin-left: 1vw;
    line-height: 3vw;
}














/*    !*Информация о слайде*!*/
/*    .slider__project-description {*/
/*        !*Размер шрифта*!*/
/*        font-size: 13px;*/
/*        !*Внешние отступы*!*/
/*        margin: 12px 0;*/
/*        !*Внутренние отступы:*!*/
/*        padding: 0 12px*/
/*    }*/

/*    !*Контейнер с кнопками*!*/
/*    .slider__category__button-container {*/
/*        !*Размер шрифта в кнопке*!*/
/*        font-size: 12px;*/
/*        !*Внешний отступ вниз*!*/
/*        margin-bottom: 0px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 0 10px;*/
/*        !*Отступы между кнопками*!*/
/*        grid-gap: 6px;*/
/*    }*/

/*    !*Кнопка*!*/
/*    .slider__category__button {*/
/*        !*Высота кнопки (ширина адаптируется под ширину экрана)*!*/
/*        height: 32px;*/
/*    }*/

/*    !*Контейнер с главными категориями*!*/
/*    .slider__category-main-wrapper {*/
/*        !*Вертикальные отступы*!*/
/*        grid-row-gap: 3px;*/
/*        !*Размер шрифта*!*/
/*        font-size: 17px;*/
/*        !*Внешний отступ вниз*!*/
/*        margin-bottom: 3px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 5px 20px*/
/*    }*/

/*    !*Контейнер с категориями*!*/
/*    .slider__category-container {*/
/*        !*Размер шрифта*!*/
/*        font-size: 13.5px;*/
/*        !*Внутренние отступы: 0 - верхнее и нижнее, 10 - левое и правое*!*/
/*        padding: 0 0px*/
/*    }*/


/*    .slider__category-container span {*/
/*        margin: 1.5vw 2vw;*/
/*        text-align: center;*/
/*        cursor: pointer*/
/*    }*/




/*@media screen and (min-width: 360px) and (max-width: 413px) {*/
/*    .slider__project-description {*/
/*        font-size: 14px;*/
/*        margin: 17px 0;*/
/*        padding: 0 13px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 14px;*/
/*        margin-bottom: 5px;*/
/*        padding: 0 13px;*/
/*        grid-gap: 10px;*/

/*    }*/

/*    .slider__category__button {*/
/*        height: 35px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 0px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 13px;*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 15.5px;*/
/*        padding: 0 13px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 414px) and (max-width: 479px) {*/
/*    .slider__project-description {*/
/*        font-size: 15.5px;*/
/*        margin: 18px 0;*/
/*        padding: 0 18px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 15px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 18px;*/
/*        grid-gap: 12px;*/
/*    }*/

/*    .slider__category__button {*/
/*        height: 36px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 27px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 18px;*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 14px;*/
/*        padding: 0 18px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 480px) {*/
/*    .slider__project-description {*/
/*        font-size: 17px;*/
/*        margin: 20.5px 0;*/
/*        padding: 0 21px;*/
/*    }*/

/*    .slider__category__button-container {*/
/*        font-size: 16px;*/
/*        margin-bottom: 34px;*/
/*        padding: 0 21px;*/
/*        grid-gap: 13px;*/

/*    }*/

/*    .slider__category__button {*/
/*        height: 41px;*/
/*    }*/

/*    .slider__category-main-wrapper {*/
/*        grid-row-gap: 30px;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        padding: 0 21px*/
/*    }*/

/*    .slider__category-container {*/
/*        font-size: 18px;*/
/*        padding: 0 21px*/
/*    }*/
/*}*/

/*TOUCH-SLIDER----------------------------------------------------------------------------------------------------*/

.main-container {
    padding-top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.touch-slider-main-wrapper {
    width: 57.29vw;
    position: relative;
    left: 50%;
    margin-left: -28.645vw;
}

 .swiper-container {
    width: 57.29vw;
    height: 36.458vw;
    background: #fff;
}


.main {
    width: 57.29vw;
    height: 36.458vw;
    position: relative;
}


.pre-holder {
    position: absolute;
    width: 57.29vw;
    height: 36.458vw;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/

}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    background: #fff;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px
}

.button {
    width: 200px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 20px
}

.hide {
    opacity: 0
}

.show {
    opacity: 1
}

.transition {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

* {
    margin: 0;
    padding: 0
}

.slider__main-container {
    width: 57.29vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 50px auto;
    overflow-y: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.slider__img-container {
    position: relative;
    overflow: hidden
}

.slider__img-container img {
    width: 57.29vw !important;
    z-index: 1;
    pointer-events: none
}

.slider__project-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 57.29vw;
    margin-top: 1.354vw;
    font-size: .8333vw;
    color: var(--main-text-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Arial Regular", sans-serif;
    letter-spacing: .03em;
}

.slider__project-description-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .99vw;
}

.slider__project-description-wrapper:last-child {
    margin-bottom: 0;
}

.slider__project-description-category {
    font-size: .8854vw;
}

.slider__project-description-object {
    color: var(--secondary-text-color);
}

.slider__project-description-price, .slider__project-description-materials {
    font-size: 1vw;
    font-weight: bold;
}

.slider__project-description-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: var(--secondary-text-color);
}

.slider__project-description-link img {
    width: .9375vw;
    height: .78125vw;
    margin-left: .3vw;
}

.slider__project-description-margin {
    margin: 0 .7vw;
}

.slider__category__button-container {
    /*width: 57.29vw;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: .6771vw;
    margin-top: 2.135vw;
    margin-bottom: 2.135vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Regular",sans-serif;
}

.slider__category__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.90625vw;
    height: 2.0833vw;
    background: var(--project-button--main);
    text-align: center;
    cursor: pointer;
    border-radius: .15625vw;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8333vw;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.slider__category__button--active {
    background: var(--project-button--active);
}

.slider__category__button--active:hover {
    background: var(--project-button--active)  !important;
}

.slider__category__button:hover {
    background: var(--project-button--hover);
}

.slider__category__button--transition {
    -webkit-transition: all .5s;
    transition: all .5s
}

.slider__category-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.51vw;
    font-size: .9375vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: "Arial Regular", sans-serif;
}

.slider__category-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 9.896vw;
    height: 2.8646vw;
    background: var(--category-button--main);
    cursor: pointer;
}

.slider__category-span:hover {
    background: var(--category-button--hover);
}

.slider__category-container--active {
    background: var(--category-button--active);
    color: #0d0d0d
}

.slider__category-container--active:hover {
    background: var(--category-button--active) !important;
}

.slider__category-container--transition {
    -webkit-transition: all .5s;
    transition: all .5s
}

.fade-out {
    opacity: 0 !important
}

.fade-in {
    opacity: 1 !important
}

.main-container {
    position: relative
}

.slide-image {
    width:  57.29vw;
    height: 36.458vw;
}

.pre-slide-image {
    width:  57.29vw;
    height: 36.458vw;
}

span.swiper-pagination-bullet {
    border-radius: 10%;
    height: 2px !important;
    background: white;
    -webkit-transition: 0.5s, width 0.3s;
    transition: 0.5s, width 0.3s;
    margin: 0 1px !important
}

.swiper-pagination-bullet-active {
    opacity: 0.80;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 1px;
}




.slider__content-container {
    width: 100vw;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__category-main-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 18px;
    grid-row-gap: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
    width: 3.125vw;
    height: 3.125vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -1.5625vw;
    z-index: 4000;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .2s all;
    transition: .2s all;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: unset;
    border: unset;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
   background: #616161;
}

.swiper-button-next img, .swiper-button-prev img {
    width: .7292vw;
    height: 1.25vw;
}

.swiper-button-next {
    right: -5.833vw;
}

.swiper-button-prev {
    left: -5.833vw
}

.swiper-button-next img {
    margin-right: -.1vw;
}

.swiper-button-prev img {
    margin-left: -.1vw;

}

.swiper-button-next::after {
    display: none !important;
}

.swiper-button-prev::after {
    display: none !important;
}

.swiper-pagination-fraction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2vw 2vw 0;
    font-family: YandexSans, sans-serif;
    letter-spacing: .07em;
    font-style: normal;
    font-weight: normal;
    font-size: .78125vw;
    line-height: .9896px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}


#remont_deshevle .swiper-slide {
    flex-direction: column;
}